body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --white: #fff;
    --orange-background: #fff7f4;
    --orange: #ff5300;
    --black: #373737;
    --paragraph: #7b7b7b;
    --test: #63adc8;
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Work Sans", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
  }
/*HEADER*/
body {
    font-family: var(--primary-font);
    overflow-x: hidden;
  }
  
  section {
    position: relative;
  }
  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .orange-bg {
    background-color: var(--orange-background);
  }
  .white-bg {
    background-color: var(--white);
  }
  
  header {
    background-color: var(--orange-background);
    position: absolute;
    padding: 1rem 0;
    width: 100%;
    z-index: 1000;
  }
  
  .menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: var(--black);
    margin: 6px 0;
  }
  
  /* .header__logo img {
    
  } */
  .header__menu {
    gap: 29px;
  }
  .header__menu li a {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    transition: color 0.3s;
  }
  .header__menu li a:hover {
    color: var(--orange);
  }
  header .right {
    gap: 5%;
  }
  .btn-head {
    text-align: center;
    display: inline-block;
    padding: 10px 22px;
    align-items: flex-start;
    width: 135px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--black);
  }
  
  #home {
    min-height: 850px;
  }
  .home__content {
    width: 602px;
    height: 415px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .home__content h1 {
    width: 602px;
    color: var(--black);
    font-family: Poppins;
    font-size: 48.83px;
    font-style: normal;
    font-weight: 700;
    line-height: 73.2px; /* 149.908% */
  }
  .home__content p {
    width: 586px;
    height: 76px;
    color: var(--paragraph);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  
  .home__img {
    width: 553.028px;
    height: 470.913px;
    justify-content: center;
    align-items: center;
  }
  .home__content a {
    color: var(--white);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
  
  .btn-home {
    text-align: center;
    width: 182px;
    height: 50px;
    padding: 10px 22px;
    border-radius: 5px;
    background: var(--orange);
  }


/*OUR SERVICES*/
.services{
    width: 1177px;
    margin: 0 auto;
     padding-top: 120px;
    
    
}
#services{
    
   
    width: 1170px;
    min-height: 751px;
}
.block2{
    width: 1170px;
    height: 751px;
    flex-shrink: 0;
}



.inside .numri{
    color: #EFEFEF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 73.2px; 
    
   
}
.inside img{
    padding-left: 25px;
}
.inside{
    display: flex;
    
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 20px;
}
.foto{
    padding-right: 180px;
}

.kutiat{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a grid with 3 equal-width columns */
    gap: 20px; /* Adjust the gap between columns */
}
.kutiat2{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a grid with 3 equal-width columns */
    gap: 20px; /* Adjust the gap between columns */
    padding-bottom: 120px;
}

.box {
    align-items: center;
    width: 370px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Whit, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    margin: 10px;
   
}
.box-body{
    padding-left: 25px;
}
.box h1{
    color: var(--Black, #373737);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px; 

    
}
.box p{
    
    color: var(--Paragraph, #7B7B7B);
    font-family: Poppins;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.2px; 

    
    
}
.box p1{
   
width: 325px;
height: 77px;
flex-shrink: 0;

color: var(--Paragraph, #7B7B7B);

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
 


}
 
.box--container{
    width:325px;
    margin: auto 0;
}


.numri{
    
    color: #EFEFEF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 73.2px; 
}

@media screen and (max-width: 768px) {
    .inside .numri,
    .foto,
    .inside {
        padding-left: 0; /* Remove padding for smaller screens */
        padding-right: 0; /* Remove padding for smaller screens */
        text-align: center; /* Center text on smaller screens */
    }

    .kutiat,
    .kutiat2 {
        grid-template-columns: 1fr;
    }

    .box {
        width: calc(100% - 20px); /* Take full width on smaller screens */
    }
}


/*CSS i Ri */

.services{
    margin-bottom: 10px;
    text-align: center;
}

.txt-services{
    font-family: Poppins;
    font-size: 39.063px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.59px;
    margin-bottom: 20px;
   
}
.titulli-services{
    position: relative;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #f35500;
}
.titulli-services:after,
.titulli-services:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 1px;
  background-color: #f35500;
}
.titulli-services:after {
  right: -49px;
}
.titulli-services:before {
  left: -49px;
}

.picture-class{
    display: inline-block;
    width: 80px;
    height: 80px;
}

/*About us css Section*/


#aboutus{
    width: 1440px;
    height: 636px;
}


.block2{
    width: 1177px;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right); 
}
.about-us-main {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.about-us-content span {
    color: #FF5300; /* Use a specific color or keep the variable if defined */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    position: relative; /* Add this to create a positioning context for pseudo-elements */
}

.about-us2:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 1px;
  background-color: #f35500;
}
.about-us2:after {
  right: -49px;
}



.about-us-content h1 {
    font-family: Poppins;
    font-size: 39.063px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.59px;
    color: var(--Black, #373737);
    
}

.about-us-content-p {
    color: var(--Paragraph, #7B7B7B);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding-top: 20px;
}

.about-us-content img{
    display: flex;
    width: 620.743px;
    height: 387.672px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.img1{
    width: 24px;
height: 24px;
flex-shrink: 0;
}

.ticks {
    padding-top: 15px;
 }
 
 .ticks p {
    color: var(--black);
    margin: 0;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
 
    /* padding-top: 15px; */
 }
 
 .ticks p img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    
 }
 .about-us-img{
    display: flex;
    width: 620.743px;
    height: 387.672px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
 }




                               /*Our Case  Project*/

.block3{
    padding-top: 120px;
    padding-bottom: 120px;
}

.study-case-top{
    text-align: center;
}
.study-case-header{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 30px;
    
}
.study-case-header a {
    text-decoration: none;
    color: var(--Paragraph, #7B7B7B);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    
    line-height: 30px; 
    transition: all 0.3s ease; 
    display: inline-block; /* Add this to allow setting width and height */
    justify-content: center;
    
}

.study-case-header a:hover {
    width: 126px;
    flex-shrink: 0;
    color: var(--Orange, #f7f4f3);
    border-radius: 10px;
    background: var(--Orange, #FF5300);
    text-align: center;
    justify-content: center;
}

.study-case-top span {
    color: var(--Orange, #FF5300);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    position: relative;
}

.study-case-top span:after,
.study-case-top span:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #f35500;
}

.study-case-top span:after {
    right: -40px;
}

.study-case-top span:before {
    left: -49px;
}

.study-case-top h1{
    
    color: var(--Black, #373737);
    font-family: Poppins;
    font-size: 39.063px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.59px; /* 149.99% */
}

.study-case-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.study-case-main .image-container {
    position: relative;
    overflow: hidden;
}

.study-case-main img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.study-case-main .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 266px;
    height: 230px;
    background-color: rgba(255, 83, 0, 0); /* Initial transparent background */
    display: flex;
    flex-direction: column;
    justify-content:center;
    opacity: 0;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-sizing: border-box;
    text-align: center; /* Center the text */
}

.study-case-main .overlay img.logo2 {
   width: 50px;
   padding-left: 108px;
    
}

.study-case-main .overlay .hover-title {
    color: var(--Whit, #FFF);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px; 
    padding-left: 45px;
    padding-right: 35px;
    
}

.study-case-main .image-container:hover .overlay {
    background-color: rgba(255, 83, 0, 0.75); /* Adjust the background color as desired */
    opacity: 1;
}

.study-case-main .image-container:hover img {
    opacity: 0.7; /* Adjust the opacity value as desired */
}


                                    /*Our Testimionol  Project*/


    
                                    
                                    .clients-content {
                                        display: flex;
                                        justify-content: center;
                                        flex-direction: column;
                                     }
                                     .clients-content_head {
                                        display: flex;
                                        justify-content: center;
                                        flex-direction: column;
                                        align-items: center;
                                     }
                                     .clients-h1 {
                                        margin: 0;
                                        padding-top: 15px;
                                        padding-bottom: 60px;
                                        color: var(--Black, #373737);
                                        font-family: Poppins;
                                        font-size: 39.063px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 58.59px; 
                                    
                                     }
                                     .clients-p{
                                        position: relative;
                                      display: inline-block;
                                      margin-bottom: 15px;
                                      font-size: 16px;
                                      line-height: 24px;
                                      color: #f35500;
                                    }
                                    .clients-p:after,
                                    .clients-p:before {
                                      content: "";
                                      position: absolute;
                                      top: 50%;
                                      width: 40px;
                                      height: 1px;
                                      background-color: #f35500;
                                    }
                                    .clients-p:after {
                                      right: -49px;
                                    }
                                    .clients-p:before {
                                      left: -49px;
                                    }
                                     
                                     .clients-content_body {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        position: relative;
                                        width: 1170px;
                                        height: 271px;
                                        position: relative;
                                     }
                                     .slider-body {
                                        display: flex; 
                                         position: relative; 
                                     }
                                     .slider-container {
                                       
                                        overflow: hidden;
                                        width: 1170px;
                                       
                                        padding-right: -30px;
                                     }
                                     
                                     .slider-wrapper {
                                        display: flex;
                                        width: 100%;
                                        transition: transform 0.5s ease-in-out;
                                     }
                                     
                                     .slider-item {
                                        border-radius: 10px;
                                        background: var(--Whit, #fff);
                                        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
                                        box-sizing: border-box;
                                        padding: 25px 25px 24px 25px;
                                        width: 370px;
                                        height: 270px;
                                        margin-right: 30px;
                                     }
                                     .slider-paragraph {
                                        margin: 0;
                                        color: var(--Paragraph, #7b7b7b);
                                     
                                        font-family: Poppins;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px;
                                        width: 320px;
                                        height: 100px;
                                        flex-shrink: 0;
                                     }
                                     
                                     .button {
                                        position: absolute;
                                        top: 60%;
                                        /* left: -10px; */
                                        /* z-index: 2; */
                                        transform: translateY(-50%);
                                        background-color: transparent;
                                        color: var(--primary-color, #ff5300);
                                        border: none;
                                        cursor: pointer;
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 50%;
                                        border: 1px;
                                        border-style: solid;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        stroke-width: 1px;
                                        stroke: var(--Orange, #ff5300);
                                        outline: none;
                                     }
                                     
                                     .prev-button {
                                        margin-left: -64px;
                                        left: 0;
                                        /* margin-left: -80px; */
                                        height: 50px;
                                        width: 50px;
                                        /* left: -4px; */
                                        stroke-width: 1px;
                                        stroke: var(--Orange, #ff5300);
                                     }
                                     
                                     .next-button {
                                        margin-right: -72px;
                                        width: 50px;
                                        right: 10px;
                                        /* margin-right: -80px; */
                                        stroke-width: 1px;
                                        stroke: var(--Orange, #ff5300);
                                     }
                                     /* .button::before,
                                     .button::after {
                                       content: '';
                                       width: 100%;
                                       height: 100%;
                                       border-radius: 50%;
                                       border-style: solid;
                                     } */
                                     
                                     .prev-button::before {
                                        /* border-width: 8px 12px 8px 0; */
                                        border-color: transparent var(--Orange, #ff5300) transparent transparent;
                                        margin-right: 6px;
                                     }
                                     
                                     .next-button::after {
                                        /* border-width: 8px 0 8px 12px; */
                                        border-color: transparent transparent transparent var(--Orange, #ff5300);
                                        margin-left: 6px;
                                     }
                                     
                                     .stars {
                                        display: flex;
                                        margin: 0;
                                        padding-bottom: 10px;
                                        justify-content: start;
                                     }
                                     .slider-body {
                                        display: flex;
                                        padding-top: 25px;
                                        justify-content: space-between;
                                     }
                                     .slider-body > div {
                                        display: flex;
                                        /* flex-direction: ; */
                                     }
                                     .slider-body > div > div {
                                        display: flex;
                                        justify-content: center;
                                        padding-left: 15px;
                                        align-items: start;
                                        flex-direction: column;
                                     }
                                     .body-name {
                                        color: var(--Orange, #ff5300);
                                     
                                        /* H5 */
                                        font-family: Poppins;
                                        font-size: 20px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 30px; /* 150% */
                                        /* width: 116px; */
                                        height: 30px;
                                        top: 469px;
                                        left: 235px;
                                        font-family: Poppins;
                                        font-size: 20px;
                                        font-weight: 500;
                                        line-height: 30px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                     }
                                     .body-role {
                                        font-family: Poppins;
                                        font-size: 13px;
                                        font-weight: 300;
                                        line-height: 19px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                     
                                        color: var(--Paragraph, #7b7b7b);
                                     
                                        /* H7 */
                                        font-family: Poppins;
                                        font-size: 12.8px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 19.2px; /* 150% */
                                     }
                                     .body-name,
                                     .body-role {
                                        margin: 0;
                                     }
                                     
                                     .clients-content_head {
                                        display: flex;
                                        justify-content: center;
                                        flex-direction: column;
                                        align-items: center;
                                     }
                                     .clients-h1 {
                                        margin: 0;
                                        padding-top: 15px;
                                        padding-bottom: 60px;
                                        color: var(--Black, #373737);
                                        font-family: Poppins;
                                        font-size: 39.063px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 58.59px; 
                                    
                                     }
                                     .clients-p{
                                        position: relative;
                                      display: inline-block;
                                      margin-bottom: 15px;
                                      font-size: 16px;
                                      line-height: 24px;
                                      color: #f35500;
                                    }
                                    .clients-p:after,
                                    .clients-p:before {
                                      content: "";
                                      position: absolute;
                                      top: 50%;
                                      width: 40px;
                                      height: 1px;
                                      background-color: #f35500;
                                    }
                                    .clients-p:after {
                                      right: -49px;
                                    }
                                    .clients-p:before {
                                      left: -49px;
                                    }
                                     
                                     .clients-content_body {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        position: relative;
                                        width: 1170px;
                                        height: 271px;
                                        position: relative;
                                     }
                                     .slider-body {
                                        display: flex; 
                                         position: relative; 
                                     }
                                     .slider-container {
                                       
                                        overflow: hidden;
                                        width: 1170px;
                                       
                                        padding-right: -30px;
                                     }
                                     
                                     .slider-wrapper {
                                        display: flex;
                                        width: 100%;
                                        transition: transform 0.5s ease-in-out;
                                     }
                                     
                                     .slider-item {
                                        border-radius: 10px;
                                        background: var(--Whit, #fff);
                                        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
                                        box-sizing: border-box;
                                        padding: 25px 25px 24px 25px;
                                        width: 370px;
                                        height: 270px;
                                        margin-right: 30px;
                                     }
                                     .slider-paragraph {
                                        margin: 0;
                                        color: var(--Paragraph, #7b7b7b);
                                     
                                        font-family: Poppins;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px;
                                        width: 320px;
                                        height: 100px;
                                        flex-shrink: 0;
                                     }
                                     
                                     .button {
                                        position: absolute;
                                        top: 60%;
                                        /* left: -10px; */
                                        /* z-index: 2; */
                                        transform: translateY(-50%);
                                        background-color: transparent;
                                        color: var(--primary-color, #ff5300);
                                        border: none;
                                        cursor: pointer;
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 50%;
                                        border: 1px;
                                        border-style: solid;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        stroke-width: 1px;
                                        stroke: var(--Orange, #ff5300);
                                        outline: none;
                                     }
                                     
                                     .prev-button {
                                        margin-left: -64px;
                                        left: 0;
                                        /* margin-left: -80px; */
                                        height: 50px;
                                        width: 50px;
                                        /* left: -4px; */
                                        stroke-width: 1px;
                                        stroke: var(--Orange, #ff5300);
                                     }
                                     
                                     .next-button {
                                        margin-right: -72px;
                                        width: 50px;
                                        right: 10px;
                                        /* margin-right: -80px; */
                                        stroke-width: 1px;
                                        stroke: var(--Orange, #ff5300);
                                     }
                                     /* .button::before,
                                     .button::after {
                                       content: '';
                                       width: 100%;
                                       height: 100%;
                                       border-radius: 50%;
                                       border-style: solid;
                                     } */
                                     
                                     .prev-button::before {
                                        /* border-width: 8px 12px 8px 0; */
                                        border-color: transparent var(--Orange, #ff5300) transparent transparent;
                                        margin-right: 6px;
                                     }
                                     
                                     .next-button::after {
                                        /* border-width: 8px 0 8px 12px; */
                                        border-color: transparent transparent transparent var(--Orange, #ff5300);
                                        margin-left: 6px;
                                     }
                                     
                                     .stars {
                                        display: flex;
                                        margin: 0;
                                        padding-bottom: 10px;
                                        justify-content: start;
                                     }
                                     .slider-body {
                                        display: flex;
                                        padding-top: 25px;
                                        justify-content: space-between;
                                     }
                                     .slider-body > div {
                                        display: flex;
                                        /* flex-direction: ; */
                                     }
                                     .slider-body > div > div {
                                        display: flex;
                                        justify-content: center;
                                        padding-left: 15px;
                                        align-items: start;
                                        flex-direction: column;
                                     }
                                     .body-name {
                                        color: var(--Orange, #ff5300);
                                     
                                        /* H5 */
                                        font-family: Poppins;
                                        font-size: 20px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 30px; /* 150% */
                                        /* width: 116px; */
                                        height: 30px;
                                        top: 469px;
                                        left: 235px;
                                        font-family: Poppins;
                                        font-size: 20px;
                                        font-weight: 500;
                                        line-height: 30px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                     }
                                     .body-role {
                                        font-family: Poppins;
                                        font-size: 13px;
                                        font-weight: 300;
                                        line-height: 19px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                     
                                        color: var(--Paragraph, #7b7b7b);
                                     
                                        /* H7 */
                                        font-family: Poppins;
                                        font-size: 12.8px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 19.2px; /* 150% */
                                     }
                                     .body-name,
                                     .body-role {
                                        margin: 0;
                                     }
                                     


                        /*Our Capabilitys*/

.our{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.our-capabilities{
    display: flex;
    flex-direction: column;

}
 
.div-1-our-span{
    color: var(--Orange, #FF5300);


    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}     
.div-1-our-span:after {
    margin-bottom: -50px;
    content: "";
    position: absolute;
    top: auto;
    width: 40px;
    height: 1px;
    
    left: -49px; /* Adjust the position based on your design */
    background-color: #f35500;
}
     
  

.div-1-our h1{
    margin-top: 18px;
    color: var(--Black, #373737);


font-family: Poppins;
font-size: 39.063px;
font-style: normal;
font-weight: 600;
line-height: 58.59px; /* 149.99% */

}

.div-1-our p{
    margin-top: 18px;
    width: 570px;
    height: 71px;
    flex-shrink: 0;
    color: var(--Paragraph, #7B7B7B);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 

}

.div-1-our  {
    display: flex;
    flex-direction: column; /* Ndryshimi për të vendosur në kolonë */
    justify-content: space-between;
}
.div-2-our img{
    display: flex;
    width: 611.399px;
    height: 374.73px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.nen-div-1-our {
    padding-top: 40px;
    display: flex;
    flex-direction: row; /* Kjo linjë është shtuar për të vendosur elementët në një kolonë */
    margin-bottom: 20px;
    gap: 24px;
}

.nen-div{
    display: flex;
    flex-direction: column; /* Ndryshimi për të vendosur në kolonë */
    align-items: center; /* Vendosja e tekstit dhe span-it në qendër horizontally */
    text-align: center; 
    border-radius: 5px;
    background: var(--Whit, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    width: 125px;
    height: 108px;
    flex-shrink: 0;
}

.nen-div span{
    
   
    padding-top: 11px;
    color: var(--Orange, #FF5300);
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px; 
}

.nen-div h1{
   margin: 0;
    color: var(--Black, #373737);
text-align: center;
font-family: Poppins;
font-size: 12.8px;
font-style: normal;
font-weight: 300;
line-height: 19.2px; 
}
  


.our-capabilities2 {
    padding-top: 69px;
    padding-bottom: 69PX;
    border-radius: 10px;
    background: var(--Orange, #FF5300);
}

.block5{
    padding-top: 120px;
}
.block-block{
    padding-top: 69px;
    padding-bottom: 69px;
}

.our-capabilities2-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nen-content{
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nen-content img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.nen-content span{
    color: var(--Whit, #FFF);

/* H5 */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */

}
.nen-content h1{
    color: var(--Whit, #FFF);

/* H2 */
font-family: Poppins;
font-size: 39.063px;
font-style: normal;
font-weight: 600;
line-height: 58.59px; /* 149.99% */
}


.divider1 {
    position: relative;
    height: 134px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider1::before {
    content: "";
    position: absolute;
    top: 0;
    right: -80%;
    transform: translateX(-50%);
    width: 3px;
    height: 134px;
    background-color: white;
}

                    /*                 OUR BLOG                  */


.block4{
    padding-top: 120px;
    padding-bottom: 90px;
}

.our-blog-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.our-blog-header-span  {
    color: var(--Orange, #FF5300);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    position: relative;
    margin-bottom: 15px;
}

.our-blog-header-span:after,
.our-blog-header-span:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #f35500;
}

.our-blog-header-span:after {
    right: -40px;
}

.our-blog-header-span:before {
    left: -49px;
}

.our-blog-header h1{
    color: var(--Black, #373737);

/* H2 */
margin-top: 15px;
margin-bottom: 15px;
font-family: Poppins;
font-size: 39.063px;
font-style: normal;
font-weight: 600;
line-height: 58.59px; /* 149.99% */
}

.our-blog-content{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    margin: 0 ;
    gap: 30px;
}
.our-blog-card{
    width: calc(33.33% - 30px); 
    margin: 0 15;
    padding: 0 15px;

    flex-wrap: wrap;
    padding-top: 15px;
    padding-left: 15px;
    
    height: 544px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Whit, #FFF);

    /* Effect-1 */
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}
.our-blog-card img{
    
    width: 340px;
    height: 225px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.our-blog-card h1{
    color: var(--Black, #373737);

    /* H5 */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}

.our-blog-content-icons {
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.our-blog-content-icons span{
    
    color: var(--Black, #373737);
    font-family: "Work Sans";
    font-size: 10.24px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 187.5% */
     justify-content: space-between;
}

.our-blog-card p{
    color: var(--Paragraph, #7B7B7B);

/* H6 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
padding-bottom: 25px;

}
.our-blog-button{
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: none;
    background: var(--Orange, #FF5300);
    color: var(--White, #FFF);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; 
    
}

                                        /*SUBSCRIBE*/

.subscribe {
   
    justify-content: space-between;
    
    display: flex;
    flex-direction: row;
    
    width: 100%px;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Orange, #FF5300);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

.subscribe-div1 {
    width: 100%;
    margin-top: 51px;
    margin-bottom: 20px;
    padding-left: 40px;
    
}

.subscribe-div1-span {
    margin-top: 20px;
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    position: relative; /* Add position relative to make the absolute positioning work */
    
}

.subscribe-div1-span:after {
    margin-bottom: -50px;
    content: "";
    position: absolute;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #FFF;
    right: -49px; /* Adjust the position based on your design */
}


.subscribe-div1 h1 {
    margin-top: 10px;
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 39.063px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.59px; /* 149.99% */
    padding-bottom: 51px;
}






.subscribe-div2 button {
    border-radius: 5px;
    background: var(--Orange, #FF5300);
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
}
.subscribe-div2 {
    width: 100%; /* Full width on smaller screens */
}
.subscribe-div2 button:hover {
    background-color: #899196; 
}


.subscribe-div2 {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 40px;
 }
 
 .subscribe-div2  > div {
    border-radius: 5px;
   background: var(--Whit, #fff);
   padding: 5px;
   width: 100%;
   height: 70px;
   flex-shrink: 0;
   display: flex;
   justify-content: space-between;
 }

 .subscribe-div2 > div > input {
    max-width: 100%;
    border: 0px;
    padding-left: 20px;
    color: var(--Paragraph, #7b7b7b);
 
    /* H6 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 

    width: calc(100% - 20px); /* Adjusted width to leave room for padding */
    padding: 10px; /* Adjusted padding for styling */
    margin-bottom: 10px;
 }
 .subscribe-div2 > div > input:focus-visible {
    outline: none;
 }
 .subscribe-div2 > div > button {

    
    border-radius: 5px;
    background: var(--Orange, #ff5300);
    color: var(--Whit, #fff);
    width: 100%;
    height: 60px;
    top: 70px;
    left: 903px;
    border-radius: 5px;
    border: 1px var(--primary-color);
    cursor: pointer;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
 }



                            /*Footer Style*/


.background2{
    background-image: url('./images/footer.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer{
    padding-top: 66px;
    padding-bottom: 0;
}


.footer-div p{
    color: var(--Whit, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    width: 270px;
    height: 75px;
    flex-shrink: 0;


}

.footer-div h1{
    color: var(--Orange, #FF5300);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px;
}


.footer-div p1{
    color: var(--Whit, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
}

.footer-div-img {
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.footer-div-img picture {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    overflow: hidden;
    border-radius: 50%; /* Makes the container oval */
    background-color: #FFF; /* Set the background color to white */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-div-img img {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}  

.divider {
    position: relative;
}

.divider::before {
    content: "";
    position: absolute;
    top: 0;
    right: -80%;
    transform: translateX(-50%);
    width: 3px;
    height: 200px;
    background-color: white;
}
    
.footer-div2{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.footer2 h1{
   
    padding-left: 18px;
    color: var(--Whit, #FFF);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.6%; 

}

.footer-div2 svg{
    padding-top: 10px;

}

.footer-div2 img {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.footer .img-footer{
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    fill: var(--Orange, #FF5300);

}
.footer-header > div {
    flex: 1 1 100%; /* Full width on small screens, half width on larger screens */
    margin-bottom: 20px;
}



/**/

.container2{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.footer {
    padding-top: 66px;
    padding-bottom: 0;
 }
 .footer-content {
    width: 100%;
 }
 .footer-header {
    display: flex;
    width: 100% / 4;
    padding-bottom: 60px;
    flex-direction: row;

 }
 .footer-header > div {
    display: flex;
    flex-grow: 1;
    /* justify-content: space-between; */
    flex-direction: column;
 }
 .footer-h1 {
    color: var(--Orange, #ff5300);
    padding-bottom: 20px;
    /* H4 */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px; /* 150% */
 }
 .footer-paragraph {
    padding-top: 8px;
    color: var(--Whit, #fff);
    width: 270px;
    height: 75px;
    top: 124px;
    left: 135px;
 
    /* H6 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
 }
 .footer-p {
    color: var(--Whit, #fff);
 
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
 }
 .footer-icons {
    display: flex;
    justify-content: space-between;
 }
 .footer-icons-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--white);
 }
 .footer-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    /* margin-top: 60px; */
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--white);
 }
 .footer-footer > div {
    display: flex;
    justify-content: space-between;
    /* width: 40%; */
 }
 .footer-footer > div > picture {
    padding-right: 18px;
 }
 .footer-footer_section2 {
    display: flex;
    width: 60%;
    padding-left: 140px;
    /* justify-content: space-between; */
 }
 .footer-footer_section2 > div {
    display: flex;
    align-items: center;
 }
 .footer-footer_section2 > div > p {
    color: var(--Whit, #fff);
    padding-left: 10px;
    padding-right: 30px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
 }
 .footer-copyright_paragraph {
    color: var(--Whit, #fff);
    width: 373px;
    height: 24px;
    top: 279px;
    left: 174px;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.6%; 
 }
 .arrow-up-button {
    border-radius: 100%;
    cursor: pointer;
    border: 1px var(--primary-color);
    background-color: var(--primary-color);
 }
 .arrow-up-button > img {
    width: 36px;
    height: 36px;
 }


 /*     MEDIA QUERY        */
 @media screen and (max-width: 768px){
        /*GLOBAL*/
        .container{
            padding: 0 1rem;

        }

        section{
            padding-top: 2rem !important;
            padding-bottom: 3rem !important;
        }

        .section-heading {
            font-size: 2rem;
        }

        /*HEADER*/

        .header__menu{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            transform: translateX(-100%);
        }
        .header__menu.show{
            transform: translateX(0);
        }

        .menu-btn{
            display: block;
            z-index:99;
        }

        /*HOME*/

        #home{
            flex-direction: column;
            justify-content: center;

        }
        .home__content{
            width: 100%;
            text-align: center;

        }
        .home__content h1{
            
            font-size: 2.5rem;
            
            
        }
        .home__content .btn{
            margin: 0 auto;
        }

        .home__img{
            width: 100%;
        }

        /* Services*/
        .services{
            width: 100%;
            text-align: center;
        }

        /* Services*/

        .study-case-header {
            flex-wrap: wrap;
            gap: 5px;
        }
    
        .study-case-header a {
            flex-basis: 48%; /* Two items per row on smaller screens */
        }
        .study-case-main .overlay .hover-title {
            font-size: 18px; /* Adjust font size for smaller screens */
            line-height: 1.5; /* Adjust line-height for smaller screens */
            padding-left: 20px; /* Adjust padding for smaller screens */
            padding-right: 20px; /* Adjust padding for smaller screens */
        }

        /*About us*/

        .about-us-main {
            flex-direction: column; /* Change to a column layout for smaller screens */
            text-align: center; /* Center-align content in the column layout */
        }

        .about-us-img {
            width: 100%; /* Set width to 100% for smaller screens */
            height: auto; /* Allow the height to adjust proportionally */
        }

        /*OUR CASE STUDY */



        /*SLIDER */
        .clients-content_head,
        .clients-p,
    .clients-h1 {
        text-align: center; /* Center-align content on smaller screens */
    }

    .clients-h1 {
        padding-bottom: 30px; /* Adjust padding for spacing */
    }

    .clients-content_body {
        flex-direction: column; /* Change to a column layout for smaller screens */
        height: auto; /* Allow height to adjust based on content */
    }
    .slider-container {
        padding-right: 15px; /* Adjust padding for spacing on smaller screens */
    }

    .slider-body {
        flex-direction: column; /* Change to a column layout for smaller screens */
        padding-top: 15px; /* Adjust padding for spacing */
    }

    .slider-wrapper {
        width: 400%; /* Adjust width for smaller screens */
    }

    .slider-item {
        flex: 0 0 75%; /* Adjust width for smaller screens */
    }
    .slider-container{
        flex-direction: column; /* Change to a column layout for smaller screens */
        text-align: center;
    }

    .button {
        position: static; /* Remove absolute positioning on smaller screens */
        margin: 0 auto; /* Center the buttons */
    }

    /*OUR CAPABILITIES*/

    .our {
        flex-direction: column;
        align-items: center;
    }

    .nen-div-1-our {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    /*OUR BLOG*/
    
    .our {
        flex-direction: column; /* Switch to column layout on smaller screens */
    }

    .div-1-our,
    .div-2-our {
        width: 100%; /* Make both divs take the full width on smaller screens */
    }

    .nen-div-1-our {
        flex-direction: row; /* Switch to row layout on smaller screens */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    .our-capabilities2-content {
        flex-direction: column;
        align-items: center;
    }

    .divider1 {
        display: none; /* Hide the divider on smaller screens */
    }



    /*SUBSRIBE*/
    .subscribe-div2 > div {
        flex-direction: column; /* Switch to row layout on larger screens */
        
        justify-content: center; /* Center align items on larger screens */
    }
    .subscribe-div2 > div > input {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .subscribe-div2 > div > button {
        margin-top: 0;
    }
    

    .subscribe {
        flex-direction: column; /* Switch back to row layout on larger screens */
         /* Adjusted width for larger screens */
    }

    .subscribe-div1 {
        width: 40%;
        margin-bottom: 0;
    }

    .subscribe-div2 {
        width: 60%;
    }
    


    /*FOOTER*/
   
    

    .footer-header {
        flex-direction: column; /* Switch back to row layout on larger screens */
        align-items: center; /* Align items to the start on larger screens */
    }
    .footer-footer,
    .footer-footer_section2{
        flex-direction: column;
        align-items: flex-start;
        
        
    }
    .footer-h1 {
        font-size: 25px;
        line-height: 1.5;
        padding-bottom: 10px;
    }
    
    .footer-paragraph,
    .footer-p {
        font-size: small;
        line-height: 1.5;
    }

    
   




    
 }

 


 @media screen and (max-width: 590px) {
    /* our capabilities */
    .div-1-our {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .div-1-our-span,
    .div-1-our h1,
    .div-1-our p {
        width: 100%;
        max-width: 300px;
        margin: 0 auto; /* Center the elements horizontally */
    }

    .nen-div-1-our {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px; /* Add margin for better separation */
    }

    .nen-div {
        width: 100%; /* Make nen-div take full width */
        max-width: 300px; /* Set a maximum width if needed */
        margin-bottom: 15px; /* Add margin between nen-div elements */
    }
}



/*HOME*/

