body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.background{
    background: var(--orange-background, #FFF7F4);
}



header {
    background: var(--orange-background, #FFF7F4);
    padding: 10px;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
    padding-top: 41px;
}

.container{
    width: 1177px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo img {
    justify-content: flex-start;
    display: block;
    max-width: 100%;
    height: auto;
    width: 175.186px;
    height: 46.939px;
    padding-top: 26.88px;
    font-family: Work Sans;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navbar{
    padding-top: 41px;
    
}
.navbar a {
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 14px 16px;
    line-height: 30px;
    
}
.navbar a.button1 {
    border-radius: 5px;
    border: 1px solid var(--Black, #373737);
    padding: 10px 22px;

}

.navbar a:hover {
    color: var(--Orange, #FF5300);
   
}
.main{
    display: flex;

}
.block{
    padding-top: 159px;
    padding-bottom: 150px;
}
.paragrafi{
    width: 602px;
    color: var(--Black, #373737);
    font-family: Poppins;
    
    
/* H1 */

font-size: 48.83px;
font-style: normal;
font-weight: 700;
line-height: 73.2px; /* 149.908% */
}
.texti{
    width: 586px;
    height: 76px;
    color: var(--Paragraph, #7B7B7B);
    font-family: Poppins;
    padding-bottom: 25px;
}

.button{
    color: white;
    display: flex;
    padding: 10px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px ;
    border: none;
    background: var(--Orange, #FF5300);
}

.div2 img{
    display: flex;
width: 553.028px;
height: 470.913px;
justify-content: center;
align-items: center;
flex-shrink: 0;

}

/*OUR SERVICES*/
.container2{
    width: 1177px;
    margin: 0 auto;
    padding: 0 15px;
}
.block2{
    width: 1170px;
    height: 751px;
    flex-shrink: 0;
}



.inside .numri{
    color: #EFEFEF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 73.2px; 
    
   
}
.inside img{
    padding-left: 25px;
}
.inside{
    display: flex;
    
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 20px;
}
.foto{
    padding-right: 180px;
}

.kutiat{
    display: flex;
    flex-wrap: wrap;
}
.kutiat2{
    display: flex;
    flex-wrap: wrap;
}

.box {
    align-items: center;
    width: 370px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Whit, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    margin: 10px;
   
}
.box-body{
    padding-left: 25px;
}
.box h1{
    color: var(--Black, #373737);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px; 

    
}
.box p{
    
    color: var(--Paragraph, #7B7B7B);
    font-family: Poppins;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.2px; 

    
    
}
.box p1{
   
width: 325px;
height: 77px;
flex-shrink: 0;

color: var(--Paragraph, #7B7B7B);

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
 


}
 
.box--container{
    width:325px;
    margin: auto 0;
}


.numri{
    
    color: #EFEFEF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 73.2px; 
}

/*CSS i Ri */

.services{
    margin-bottom: 10px;
    text-align: center;
}

.txt-services{
    font-family: Poppins;
font-size: 39.063px;
font-style: normal;
font-weight: 600;
line-height: 58.59px;

    margin-bottom: 20px;
   
}
.titulli-services{
    position: relative;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #f35500;
}
.titulli-services:after,
.titulli-services:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 1px;
  background-color: #f35500;
}
.titulli-services:after {
  right: -49px;
}
.titulli-services:before {
  left: -49px;
}

.picture-class{
    display: inline-block;
    width: 80px;
    height: 80px;
}
/*About us css Section*/

.block2{
    width: 1177px;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right); 
}
.about-us-main {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.about-us-content span {
    color: #FF5300; /* Use a specific color or keep the variable if defined */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    position: relative; /* Add this to create a positioning context for pseudo-elements */
}


 

.about-us2:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 1px;
  background-color: #f35500;
}
.about-us2:after {
  right: -49px;
}



.about-us-content h1 {
    font-family: Poppins;
    font-size: 39.063px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.59px;
    color: var(--Black, #373737);
    
}

.about-us-content p {
    color: var(--Paragraph, #7B7B7B);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.about-us-content img{
    display: flex;
    width: 620.743px;
    height: 387.672px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.img1{
    width: 24px;
height: 24px;
flex-shrink: 0;
}

.ticks {
    padding-top: 15px;
 }
 
 .ticks p {
    color: var(--black);
    margin: 0;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
 
    /* padding-top: 15px; */
 }
 
 .ticks p img {
    padding-right: 15px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
 }




                               /*Our Case  Project*/

.block3{
    padding-top: 120px;
    padding-bottom: 120px;
}

.study-case-top{
    text-align: center;
}
.study-case-header{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 30px;
    
}
.study-case-header a {
    text-decoration: none;
    color: var(--Paragraph, #7B7B7B);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    
    line-height: 30px; 
    transition: all 0.3s ease; 
    display: inline-block; /* Add this to allow setting width and height */
    justify-content: center;
    
}

.study-case-header a:hover {
    width: 126px;
    flex-shrink: 0;
    color: var(--Orange, #f7f4f3);
    border-radius: 10px;
    background: var(--Orange, #FF5300);
    text-align: center;
    justify-content: center;
}

.study-case-top span {
    color: var(--Orange, #FF5300);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    position: relative;
}

.study-case-top span:after,
.study-case-top span:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #f35500;
}

.study-case-top span:after {
    right: -40px;
}

.study-case-top span:before {
    left: -49px;
}

.study-case-top h1{
    
    color: var(--Black, #373737);
    font-family: Poppins;
    font-size: 39.063px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.59px; /* 149.99% */
}

.study-case-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.study-case-main .image-container {
    position: relative;
    overflow: hidden;
}

.study-case-main img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.study-case-main .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 266px;
    height: 230px;
    background-color: rgba(255, 83, 0, 0); /* Initial transparent background */
    display: flex;
    flex-direction: column;
    justify-content:center;
    opacity: 0;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-sizing: border-box;
    text-align: center; /* Center the text */
}

.study-case-main .overlay img.logo {
   width: 50px;
   padding-left: 108px;
    
}

.study-case-main .overlay .hover-title {
    color: var(--Whit, #FFF);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px; /* 150% */
    padding-left: 45px;
    padding-right: 35px;
    
}

.study-case-main .image-container:hover .overlay {
    background-color: rgba(255, 83, 0, 0.75); /* Adjust the background color as desired */
    opacity: 1;
}

.study-case-main .image-container:hover img {
    opacity: 0.7; /* Adjust the opacity value as desired */
}


                                    /*Our Testimionol  Project*/

.testimional-header{
    text-align: center;
}                                    

.testimional-header-span{
    
    color: var(--Orange, #FF5300);

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.testimonial-header-span:after,
.testimonial-header-span:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #f35500;
}

.testimonial-header-span:after {
    right: -49px;
}

.testimonial-header-span:before {
    left: -49px;
}
                           
                          




                          /*Our Capabilitys*/

.our{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
     
 
.div-1-our span{
    color: var(--Orange, #FF5300);


    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}              
.div-1-our h1{
     margin-bottom: 20px;
    color: var(--Black, #373737);


font-family: Poppins;
font-size: 39.063px;
font-style: normal;
font-weight: 600;
line-height: 58.59px; /* 149.99% */

}

.div-1-our p{
    padding-bottom: 40px;
   
    
    color: var(--Paragraph, #7B7B7B);

/* H6 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */

}

.div-1-our  {
    display: flex;
    flex-direction: column; /* Ndryshimi për të vendosur në kolonë */
    justify-content: space-between;
}
.nen-div-1-our {
    display: flex;
    flex-direction: row; /* Kjo linjë është shtuar për të vendosur elementët në një kolonë */
    justify-content: space-between;
}

.nen-div{
    display: flex;
    flex-direction: column; /* Ndryshimi për të vendosur në kolonë */
    align-items: center; /* Vendosja e tekstit dhe span-it në qendër horizontally */
    text-align: center; 
    
 border-radius: 5px;
background: var(--Whit, #FFF);
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
width: 125px;
height: 108px;
flex-shrink: 0;
}

.nen-div span{
    
   
    padding-top: 11px;
    color: var(--Orange, #FF5300);
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px; 
}

.nen-div h1{
   margin: 0;
    color: var(--Black, #373737);
text-align: center;
font-family: Poppins;
font-size: 12.8px;
font-style: normal;
font-weight: 300;
line-height: 19.2px; 
}
  


.our-capabilities2 {
    border-radius: 10px;
    background: var(--Orange, #FF5300);
}

.block5{
    padding-top: 120px;
}
.block-block{
    padding-top: 69px;
    padding-bottom: 69px;
}

.our-capabilities2-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nen-content{
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nen-content img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.nen-content span{
    color: var(--Whit, #FFF);

/* H2 */
font-family: Poppins;
font-size: 39.063px;
font-style: normal;
font-weight: 600;
line-height: 58.59px; /* 149.99% */

}
.nen-content h1{
    color: var(--Whit, #FFF);

/* H5 */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}

.divider {
    position: relative;
}

.divider::before {
    content: "";
    position: absolute;
    top: 0;
    right: -80%;
    transform: translateX(-50%);
    width: 3px;
    height: 134px;
    background-color: white;
}

                    /*                 OUR BLOG                  */


.block4{
    padding-top: 120px;
    padding-bottom: 90px;
}

.our-blog-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.our-blog-header-span  {
    color: var(--Orange, #FF5300);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    position: relative;
    margin-bottom: 15px;
}

.our-blog-header-span:after,
.our-blog-header-span:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #f35500;
}

.our-blog-header-span:after {
    right: -40px;
}

.our-blog-header-span:before {
    left: -49px;
}

.our-blog-header h1{
    color: var(--Black, #373737);

/* H2 */
margin-top: 15px;
margin-bottom: 15px;
font-family: Poppins;
font-size: 39.063px;
font-style: normal;
font-weight: 600;
line-height: 58.59px; /* 149.99% */
}

.our-blog-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding-top: 60px;
}
.our-blog-card{
    
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    width: 370px;
height: 544px;
flex-shrink: 0;
    border-radius: 10px;
background: var(--Whit, #FFF);

/* Effect-1 */
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}
.our-blog-card img{
    
    width: 340px;
    height: 225px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.our-blog-card h1{
    color: var(--Black, #373737);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
}

.our-blog-content-icons{
    
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    
}
.our-blog-content-icons span{
    color: var(--Black, #373737);
font-family: "Work Sans";
font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: 19.2px; /* 187.5% */
}

.our-blog-card p{
    color: var(--Paragraph, #7B7B7B);

/* H6 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
padding-bottom: 25px;

}
.our-blog-button{
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: none;
    background: var(--Orange, #FF5300);
    color: var(--White, #FFF);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; 
}

/*SUBSCRIBE*/

.subscribe {
    display: flex;
    
    width: 1170px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Orange, #FF5300);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

.subscribe-div1 {
    display: flex;
    flex-direction: column;
    padding-top: 51px;
    padding-bottom: 51px;
    padding-left: 40px;
}

.subscribe-div1 span {
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.subscribe-div1 h1 {
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 39.063px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.59px; /* 149.99% */
    padding-bottom: 51px;
}






.subscribe-div2 button {
    border-radius: 5px;
    background: var(--Orange, #FF5300);
    color: #fff; /* Set the text color as needed */
    padding: 10px 20px; /* Set the padding as needed */
    border: none;
    border-radius: 5px; /* Set the border radius for rounded corners */
    cursor: pointer;
    font-size: 16px; /* Set the font size as needed */
}

.subscribe-div2 button:hover {
    background-color: #899196; /* Set the hover background color as needed */
}


.subscribe-div2 {
    display: flex;
    align-items: center; width: 60%;
 }
 
 .subscribe-div2  > div {
    border-radius: 5px;
    background: var(--Whit, #fff);
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

 .subscribe-div2 input[type="email"]::placeholder {
    color: var(--Paragraph, #7B7B7B);
    border: none;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}


                            /*Footer Style*/


.background2{
    background-image: url('./images/footer.png');
    
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-top: 56px;
    padding-bottom: 60px;
}


.footer-div p{
    color: var(--Whit, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    width: 270px;
    height: 75px;
    flex-shrink: 0;


}

.footer-div h1{
    color: var(--Orange, #FF5300);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px;
}


.footer-div p1{
    color: var(--Whit, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
}

.footer-div-img {
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.footer-div-img picture {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    overflow: hidden;
    border-radius: 50%; /* Makes the container oval */
    background-color: #FFF; /* Set the background color to white */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-div-img img {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}  

.divider {
    position: relative;
}

.divider::before {
    content: "";
    position: absolute;
    top: 0;
    right: -80%;
    transform: translateX(-50%);
    width: 3px;
    height: 200px;
    background-color: white;
}
    
.footer-div2{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.footer2 h1{
   
    padding-left: 18px;
    color: var(--Whit, #FFF);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.6%; 

}

.footer-div2 svg{
    padding-top: 10px;

}

.footer-div2 img {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.footer .img-footer{
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    fill: var(--Orange, #FF5300);

}